.achievementImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.achievement {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px
}